@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Urbanist", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #F7F5F6;
    overflow-x: hidden;
}
                                                    /****/
                                                /* NAVBAR */
                                                    /****/


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.25rem;
    padding-left: 3rem;
    padding-right: 16px;
    margin-bottom: 0rem;
    padding-bottom: 1.25rem;
    font-weight: bold;
    background-color: #0a2424;
    background-size: cover;
}

.menu {
    display: flex;
}

.menu li{
    list-style: none;
    padding: 0rem 1.25rem;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.875rem;
    transition: all 0.5s ease;
}

.menu li a:hover {
    padding: .3125rem .625rem;
    background-color: white;
    color: black;
    border-radius: .9375rem;
}

.LogoEnNavbar{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

                                                    /****/
                                                /** HOMEPAGE  **/
                                            /** SECCION DEL TITULO **/
                                                    /****/

.grid-titulo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 525px ;
    max-width: 100%
}

.TituloHome{
    background-image: url(../assets/img/cohete\ \(1\).svg);
    max-width: 100%;    
    height: 43.75rem;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color: #FFF;
    object-fit: cover;
}
.TituloHome h1{
    text-align: left;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3rem;
    padding-top: 10.125rem;
    margin-bottom: 0px;
}
.TituloHome h2{
    text-align: justify;
    margin-left: 3rem;
    font-size: 4.6875rem;
    font-weight: normal;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 10px;
}
.TituloHome .LogoEmpresaHome{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
    margin-top: -70px;
}

.LogoEmpresaHome img{
    height: 200px; 
    margin: 0;
}
.LineaDivisoraTitulo{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 3rem;
    height: 0;
    width: 100%;
}

                                                    /****/
                                            /* CONTENIDO UNO */
                                                    /****/

.Contenido-Uno-Home{
    margin-top: 6rem;
}
.Contenido-Uno-Home h2{
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.LineaDivisoraContenidos{
    width: 95%;
}

.Contenido-Uno-Home p{
    text-align: justify;
    font-weight: normal;
    font-size: 1.875rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.Contenido-Uno-Home .nombre-empresa{
    text-align: end;
    margin-right: 6rem;
    font-size: 1.25rem;
}

                                                    /****/
                                            /* CONTENIDO DOS */
                                                    /****/

.Contenido-Dos-Home{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(3,202px);
    margin: 6rem;
    margin-left: 20%;
    margin-right: 15%;
}

.FotoArticle1{
    grid-column: 1/2;
    grid-row: 1/5;
    justify-self: end;
    align-self: center;
}

.FotoArticle1 img{
    height: 650px;
}

.Contenido-Dos-Home h3{
    grid-column: 1/2 ;
    grid-row: 2/3;
    order: 1;
    text-align: justify;
    justify-self: center;
    align-self: start;
    font-weight: normal;
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin:0rem;
}

.ProyectosBox{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #00798B;
    color: white;
    width: 400px;
    height: 350px;
    align-self: center;
    align-content: center;
}
.ProyectosBox p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.ClientesBox{
    grid-column: 2/3;
    grid-row: 3/5;
    background-color: #004C44 ;
    color: white;
    width: 400px;
    height: 350px;
    align-self: center;
    align-content: center;
}

.ClientesBox p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

i{
    font-size: 4rem;
    margin-right: 2rem;
}

                                                    /****/
                                            /** CONTENIDO TRES **/
                                                    /****/

.Contenido-Tres-Home{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(3,202px);
    margin-top: 6rem;
    margin-right: 15%;
    margin-left: 20%;
}

.FotoArticle2{
    grid-column: 1/2;
    grid-row: 1/5;
    justify-self: end;
    align-self: center;
}

.FotoArticle2 img{
    height: 650px;
}

.Contenido-Tres-Home h3{
    grid-column: 1/2 ;
    grid-row: 2/3;
    order: 1;
    text-align: justify;
    justify-self: center;
    align-self: start;
    font-weight: normal;
    font-size: 2.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0rem;
    color: white;
}

.CampañasBox{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #00798B;
    color: white;
    width: 400px;
    height: 350px;
    align-self: center;
    align-content: center;
}

.CampañasBox p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.LeadsBox{
    grid-column: 2/3;
    grid-row: 3/5;
    background-color: #004C44 ;
    color: white;
    width: 400px;
    height: 350px;
    align-self: center;
    align-content: center;
}

.LeadsBox p{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

                                                    /****/
                                            /** CONTENIDO CUATRO **/
                                                    /****/

.ClientesContainer{
    background-color: #0A2424;
    color:white;
    height: 222px;
    align-content: center;
    margin-top: 6rem;
}

.ClientesContainer h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.LogosClientes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem;
    column-gap: 30rem;
    row-gap: 10rem;
}

                                                    /****/
                                                /** FOOTER **/
                                                    /****/

footer{
    margin-top: 6rem;
    border-top: 2px solid black;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    max-width: 100%
}

.logoFooter{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
}

.logoFooter img{
    width: 540px;
    height: 150px;
}

.menu-footer{
    grid-row: 1/4;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.menu-footer ul{
    padding: 0;
}
.menu-footer ul li{
    list-style: none;
    text-align: center;
    padding: 5px;

}

.menu-footer ul li a {
    text-decoration: none;
    color: #1D907A;
    font-size: 2.4rem;
    font-weight: bold;
}

.redes-footer{
    grid-column: 3/4 ;
    grid-row: 1/2 ;
    justify-self: center;
    align-content: center;
}

.redes-footer h3{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #1D907A;
}

.redes-footer a{
    color: #1D907A;
    text-decoration: none;
    list-style: none;
}

.partner{
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: center;
    align-self: end;
}

.partner img{
    margin-right: 14px;
}


.copyright{
    grid-column: 1/4 ;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
    background-color: #0A2424;
    width: 100%;
}

.copyright p{
    color: white;
    font-size: 1rem ;
    font-weight: normal;
    text-align: center;
}

                                                    /****/
                                            /** ABOUT PAGE **/
                                            /**TITULO ABOUT**/
                                                    /****/

.Titulo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: white;
}

.Titulo h1{
    grid-column: 1/2;
    grid-row: 1/3;
    font-weight: bold;
    color: black;
    align-self: center;
    padding-bottom: 3rem;
    margin-left: 3rem;
    font-size: 4rem;
}

.Titulo p{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.8rem;
    font-weight: normal;
    color: black;
    justify-self: start;
    margin-left: 3rem;
}

.Logo-Titulo{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
    align-content: center;
    margin-right: 3rem;
}

.Logo-Titulo img{
    width: 200px;
    height: 200px;
}

                                                    /****/
                                                /**ABOUT-TEAMWORK**/
                                                    /****/

.About-Teamwork{
    background-image: url(../assets/img/teamwork-2.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.About-Teamwork{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.Trabajadores-box{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: center;
    background-color: #00798B;
    color: white;
    width: 302px;
    height: 222px;
    align-content: center;
}

.Trabajadores-box p{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.Trabajadores-box p strong{
    font-size: 4rem;
}

.Ideas-box{
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
    justify-self: end;
    background-color: #004C44;
    color: white;
    width: 302px;
    height: 222px;
        align-content: center;
}

.Ideas-box p{
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.Ideas-box p strong{
    font-size: 3.5rem;
}

                                                    /****/
                                                /**ABOUT-CONTENIDO**/
                                                    /****/

.AboutPage{
    background-color: #F7F5F6;
}

.mujer-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
}

.mujer1-img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
}

.mujer1-img img{
    width: 500px;
    height: 500px;
}

.mujer1-box{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-left: 10px solid #00798B;
    height: 450px;
    background-color: white;
}
.mujer1-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}
.mujer1-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.mujer-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.mujer2-img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    margin-right: 2rem;
}

.mujer2-img img{
    width: 500px;
    height: 500px;
}

.mujer2-box{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-left: 10px solid #00798B;
    height: 450px;;
    background-color: white;
}

.mujer2-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}
.mujer2-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.mujer-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.mujer3-img{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: end;
    align-self: center;
    margin-right: 2rem;
}

.mujer3-img img{
    width: 500px;
    height: 500px;
}

.mujer3-box{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-left: 10px solid #00798B;
    height: 450px;
    background-color: white;
}
.mujer3-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}
.mujer3-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.hombre-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.hombre1-img{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: start;
    align-self: center;
    margin-left: 2rem;
}

.hombre1-img img{
    width: 500px;
    height: 500px;
}

.hombre1-box{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-right: 10px solid #004C44;
    height: 450px;
    background-color: white;
}

.hombre1-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.hombre1-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}

.hombre-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.hombre2-img{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: start;
    align-self: center;
    margin-left: 2rem;
}

.hombre2-img img{
    width: 500px;
    height: 500px;
}

.hombre2-box{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-right: 10px solid #004C44;
    height: 450px;
    background-color: white;
}

.hombre2-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.hombre2-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}

.hombre-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.hombre3-img{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: start;
    align-self: center;
    margin-left: 2rem;
}

.hombre3-img img{
    width: 500px;
    height: 500px;
}

.hombre3-box{
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    border-right: 10px solid #004C44;
    height: 450px;
    background-color: white;
}

.hombre3-box h3{
    text-align: justify;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}

.hombre3-box p{
    text-align: justify;
    margin: 3rem;
    font-size: 1.5rem;
}

                                                    /****/
                                                /**SERVICE-PAGE**/
                                                    /****/

.Service-Foto{
    background-image: url(../assets/img/service-desktop.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.Service-Foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-box{
    background-color: #004C44;
    color: white;
    opacity: 90%;
    width: 719px;
    height: 146px;
    align-content: center;
}

.service-box h2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

                                                    /****/
                                                /**SERVICE-CONTENIDO**/
                                                    /****/

.Service-contenido{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.texto-service{
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}

.Service-contenido hr{
    border: 0.5px solid #004C44;
}

                                                    /****/
                                                /**SERVICE-CONTENIDO**/
                                                    /****/

.servicios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    margin: 6rem;
    column-gap: 3rem;
    row-gap: 3rem;
}

.servicio-redsocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-box{
    background-color: white;
    border-left: 10px solid #00798B;
    align-self: center;
    order: 1;
    opacity: 90%;
    width: 302px;
    height: 355px;
    margin: 0;
}

.red-box h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.red-box p{
    font-size: 1.8rem;
    font-weight: normal;
    padding-left: 3rem;
    margin: 0;
}

.redsocial-img img{
    margin-right: -3rem;
}

                                                    /****/

.servicio-consultoria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.consul-box{
    background-color: white;
    border-left: 10px solid #004C44;
    align-self: center;
    order: 2;
    opacity: 90%;
    width: 302px;
    height: 355px;
    margin: 0;
}

.consul-box h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.consul-box p{
    font-size: 1.6rem;
    font-weight: normal;
    padding-left: 2rem;
    margin: 0;
}

.consultoria-img img{
    margin-right: -3rem;
}

                                                    /****/

.servicio-rebranding{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rebran-box{
    background-color: white;
    border-left: 10px solid #00798B;
    align-self: center;
    order: 1;
    opacity: 90%;
    width: 302px;
    height: 355px;
    margin: 0;
}

.rebran-box h2{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.rebran-box p{
    font-size: 1.8rem;
    font-weight: normal;
    padding-left: 3rem;
    margin: 0;
}

.rebranding-img img{
    margin-right: -3rem;
}

                                                    /****/

.servicio-seo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seo-box{
    background-color: white;
    border-left: 10px solid #004C44;
    align-self: center;
    order: 2;
    opacity: 90%;
    width: 302px;
    height: 355px;
    margin: 0;
}

.seo-box h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.seo-box p{
    font-size: 1.8rem;
    font-weight: normal;
    padding-left: 3rem;
    margin: 0;
}

.seo-img img{
    margin-right: -3rem;
}

                                                    /****/
                                                /**PORTFOLIO-PAGE**/
                                                    /****/

.Portfolio-foto{
    background-image: url(../assets/img/portfolio-desktop.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.Portfolio-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Portfolio-box{
    background-color: #004C44;
    color: white;
    opacity: 90%;
    width: 719px;
    height: 146px;
    align-content: center;
}

.Portfolio-box h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

                                                    /****/
                                                /**PORTFOLIO-CONTENIDO**/
                                                    /****/

.portfolios{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-content: center;
    margin: 6rem;
    column-gap: 3rem;
    row-gap: 3rem;
}

.carre-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.faber-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinte-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cine-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.farma-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grido-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Carre-work h3{
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.Faber-work h3{
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.sinte-work h3{
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.Cine-work h3{
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.Farma-work h3 {
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.Grido-work h3{
    font-size: 2.5rem;
    font-weight: 550;
    text-align: center;
}

.background-work1{
    background-color: white;
    border-top: 10px solid #00798B;
    height: 160px;
}

.background-work2{
    background-color: white;
    border-top: 10px solid #004C44;
    height: 160px;
}

.portfolioText{
    text-align: justify;
    font-weight: 450;
    font-size: 1.1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

                                                    /****/
                                                /**CONTACTO-PAGE**/
                                                    /****/

.Contacto-foto{
    background-image: url(../assets/img/Contacto-desktop.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.Contacto-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Contacto-box{
    background-color: #004C44;
    color: white;
    opacity: 90%;
    width: 719px;
    height: 146px;
    align-content: center;
}

.Contacto-box h2{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

                                                    /****/
                                                /**CONTACTO-CONTENIDO**/
                                                    /****/

.contacto1 h3{
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    margin: 6rem;
}

                                                /**CONTACTO-FORMULARIO**/

.formulario-Contacto{
    margin: 6rem;
}

.contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}

.contact-form .nombre{
    grid-column: 1/2 ;
    grid-row: 1/2 ;
    font-size: 2rem;
}

.contact-form .email{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
    font-size: 2rem;
}

.contact-form .teléfono{
    grid-column: 1/2 ;
    grid-row: 3/4 ;
    font-size: 2rem;
}

.contact-form .mensaje{
    grid-column: 2/3 ;
    grid-row: 1/4 ;
    font-size: 2rem;
}

.contact-form .enviar{
    grid-column: 1/3 ;
    grid-row: 4/5;
}

.contact-form input{
    width: 95%;
    padding: 1rem;
    border: none;
    background-color: #D9D9D9;
    font-size: 1.5rem;
}

.contact-form textarea{
    width: 97%;
    height: 83%;
    padding: 1rem;
    border: none;
    background-color: #D9D9D9;
    font-size: 1.5rem;
}

.contact-form button{
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #00798B;
    color: white;
    font-weight: lighter ;
    font-size: 1.5rem;
}

.ubicacion-mapa{
    text-align: center;
}

                                                /**CONTACTO-INFO**/

.info-contacto{
    background-image: url(../assets/img/info-contacto.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    color: white;
    height: 600px;
}

.info-contacto h3{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 4rem;
    font-weight: bold;
    justify-self: start;
    align-self: center;
    text-align: start;
    margin: 3rem;
    padding-right: 30px;
}

.info-contacto hr{
    grid-column: 1/4;
    grid-row: 2/3;
    margin: 0;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 0;
}

.texto-contacto{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 2.4rem;
    font-weight: normal;
    margin: 2rem;
    justify-self: start;
    align-self: center;
    text-align: start;
}

.mail{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}
.phone{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}
.ubi{
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}
.empresa-contacto{
    grid-row: 4/5;
    grid-column: 3/4 ;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    justify-self: end;
    align-self: end;
    margin-right: 3rem;
    margin-bottom: 1rem;
    color: #D9D9D9 ;
}

.info-contacto i{
    font-size: 1.5rem;
    margin: 10px;
}

                                                    /****/
                                                /**FINALIZADO-ESTILO DE PAGINAS**/
                                                    /****/

                                                    /****/                       
                                                /**BOOTSTRAP**/
                                                    /****/
.bootstrap-body{
    background-color: #161815;
}

.section-padding{
    padding: 70px;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption h1{
    font-size: 10px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before{
    content: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 30, 82, 0.327);
    z-index: 1;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: black;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

                                                /**RESPONSIVE-MEDIAQUERY**/
                                                    /****/

@media(max-width: 768px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    
}