@media(max-width: 1440px){
    .info-contacto h3{
        font-size: 2rem;
        margin: 3rem 0 3rem 3rem;
        padding: 0;
    }
    .mail,.phone,.ubi{
        font-size: 1rem;
    }
    .texto-contacto{
        font-size: 1.5rem;
        margin: 3rem 0 3rem 3rem;
    }
    .TituloHome h2{
        font-size: 3.5rem;
        grid-column: 1/3;
    }
    .Contenido-Uno-Home h2{
        font-size: 2.5rem;
    }
    .Contenido-Uno-Home .nombre-empresa{
        font-size: 1rem;
    }
    .Contenido-Uno-Home p{
        font-size: 1.3rem;
    }
    .FotoArticle1, .FotoArticle2{
        grid-row: 1 / 4;
        grid-column: 1/3;
        width: 100%;
        height: 100%;
    }
    .FotoArticle1 img, .FotoArticle2 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .Contenido-Dos-Home, .Contenido-Tres-Home{
        margin: 3rem;
    }
    .Contenido-Dos-Home h3, .Contenido-Tres-Home h3{
        grid-row: 1/2;
        font-size: 1.5rem;
        padding-left: 34%;
        padding-right: 34%;
        align-self: center;
        grid-column: 1/3;
    }
    .Contenido-Tres-Home h3{
        padding-left: 20%;
        padding-right:  20%;
    }
    .ProyectosBox, .ClientesBox, .CampañasBox, .LeadsBox{
        grid-column: 1/2;
        grid-row: 3/5;
        height: 250px;
        width: 250px;
        justify-self: center;
    }
    .ClientesBox, .LeadsBox{
        grid-column: 2/3;
    }
    .ProyectosBox p i, .ClientesBox p i, .CampañasBox p i, .LeadsBox p i{
        font-size: 2rem;
        margin: 0.4rem;
    }
    .ProyectosBox p , .ClientesBox p, .CampañasBox p, .LeadsBox p{
        font-size: 2rem;
        margin: 0.4rem;
    }
    .ClientesContainer{
        height: 160px;
    }
    .LogosClientes{
        column-gap: 10rem;
        row-gap: 10rem;
    }
    .menu li a{
        font-size: 1.5rem;
    }
    .LogoEnNavbar{
        font-size: 1.7rem;
    }
    .Logo-Titulo img{
        width: 180px;
        height: 180px;
    }
    .service-box h2{
        font-size: 3rem;
    }
    .Service-contenido{
        margin: 3rem;
    }
    .servicios{
        margin: 3rem;
        column-gap: 5rem;
    }
    .Titulo p{
        padding: 1rem 0;
    }
}