@media (max-width:320px){
.navbar-menu{
    padding: .5rem;
}
.logoFooter img{
    width: 250px;
}
.Titulo p{
    font-size: .8rem;
    padding: 0;
}
.Trabajadores-box, .Ideas-box, .Ideas-box {
    height: 50px;

}
.Trabajadores-box p, .Ideas-box p{
    font-size: .6rem;
    & i{
        font-size: .6rem;
    }
    strong{
        font-size: .6rem;
    }
}
.mujer1-box p, .mujer2-box p, .mujer3-box p, .mujer2-box p, .mujer3-box p, .mujer2-box p, .mujer3-box p, .hombre1-box p, .hombre2-box p, .hombre3-box p, .hombre2-box p, .hombre3-box p, .hombre2-box p, .hombre3-box p{
    font-size: .9rem;
}
.mujer-1, .mujer-2, .mujer-3, .hombre-1, .hombre-2, .hombre-3, .mujer-2, .mujer-3, .hombre-1, .hombre-2, .hombre-3, .hombre-2, .hombre-3{
    margin: 2.5rem 2rem;
}
}