@media (min-width:320px) and (max-width:424px){
.navbar-menu{
    padding: .5rem;
}
.logoFooter img{
    width: 250px;
}
.Titulo p{
    font-size: .8rem;
    padding: 0;
}
.Trabajadores-box, .Ideas-box, .Ideas-box {
    height: 50px;

}
.Trabajadores-box p, .Ideas-box p{
    font-size: .6rem;
    & i{
        font-size: .6rem;
    }
    strong{
        font-size: .6rem;
    }
}
.mujer1-box p, .mujer2-box p, .mujer3-box p, .mujer2-box p, .mujer3-box p, .mujer2-box p, .mujer3-box p, .hombre1-box p, .hombre2-box p, .hombre3-box p, .hombre2-box p, .hombre3-box p, .hombre2-box p, .hombre3-box p{
    font-size: .9rem;
}
.mujer-1, .mujer-2, .mujer-3, .hombre-1, .hombre-2, .hombre-3, .mujer-2, .mujer-3, .hombre-1, .hombre-2, .hombre-3, .hombre-2, .hombre-3{
    margin: 2.5rem 2rem;
}
.Contenido-Dos-Home h3{
    font-size: 1rem;
    padding: 0 9%;
}
.ProyectosBox, .ClientesBox, .CampañasBox, .LeadsBox{
    opacity: 90%;
    height: auto;
    width: auto;
}
.FotoArticle1, .FotoArticle2, .FotoArticle2{
    grid-row: 1/4;
}
.FotoArticle1 img, .FotoArticle2 img{
    object-fit: cover;
}
// PORTFOLIO  PAGE
#TituloParrafo{
    font-size: .8rem;
    text-align: center;
}
.Portfolio-foto{
    height: 300px;
}
.carre-img img, .faber-img img, .sinte-img img, .cine-img img, .farma-img img, .grido-img img{
    width: 300px;
}
.portfolios{
    row-gap: 3rem;
}
.background-work1, .background-work2, .background-work2{
    height: auto;
}
.portfolioText{
    padding: 0 1rem;
}
//HOME PAGE
.logo{
    font-size: 1rem;
}
.Contenido-Uno-Home p{
    margin: 1rem 0rem;
}
.Contenido-Dos-Home, .Contenido-Tres-Home{
    grid-template-rows: repeat(2,202px);
}
.FotoArticle1, .FotoArticle2{
    grid-row: 1/3;
}
.ProyectosBox, .ClientesBox,.CampañasBox, .LeadsBox {
    grid-row: 2/3;
    align-self: end;
}
.Contenido-Dos-Home h3{
    padding: 0% 3%;
}
.Contenido-Tres-Home h3{
    padding: 0% 12%;
}
.ClientesContainer h2{
    font-size: 2rem;
}
#logo-facebook{
    margin: 0rem 1.5rem 0rem 2.5rem;
}
#logo-insta, #logo-linkedin{
    margin: 0;
}
}