@media (min-width: 933px) and (max-width:1009px){
    .Contenido-Dos-Home h3{
        padding: 0% 26%;
    }
    .Contenido-Tres-Home h3{
        padding: 0% 31%;
    }
    .TituloHome h2{
        font-size: 2.3rem;
    }
}
