@media(max-width: 768px){
    // BOOTSTRAP
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .navbar-nav{
        text-align: center;
    }
    .Logo-Titulo img{
        height: 150px;
        width: 150px;
    }
    .Contacto-foto{
        height: 350px;
    }
    .formulario-Contacto{
        margin: 3rem;
    }
    .info-contacto h3{
        font-size: 1.5rem;
        margin: 3rem 0 0 3rem;
    }
    .texto-contacto{
        font-size: 1.3rem;
        text-align: justify;
    }
    .empresa-contacto{
        grid-column: 3 / 4;
        justify-self: center;
        margin: 1rem 0;
        font-size: 1rem;
    }
    .Titulo h1{
        font-size: 3rem;
    }
    .Titulo p{
        font-size: 1rem;
    }
    .Contacto-box h2{
        font-size: 2rem;
        font-weight: normal;
    }
    .contacto1 h3{
        font-size: 2rem;
        margin: 3rem;
    }
    .contact-form{
        grid-template-rows: repeat(5,1fr);
    }
    .contact-form .nombre{
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 0;
    }
    .contact-form .email{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 0;
    }
    .contact-form .teléfono{
        grid-column: 1/3;
        grid-row: 3/4;
        margin: 0;
    }
    .contact-form .mensaje{
        grid-column: 1/3;
        grid-row: 4/5;
        margin: 0;
    }
    .contact-form .enviar{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .contact-form .enviar{
        align-self: center;
        text-align: center;
    }
    .contact-form label{
        font-size: 1.3rem;
    }
    .contact-form textarea{
        font-size: 1rem;
        height: auto;
        width: 95%;
        padding: 1rem 0;
    }
    .contact-form input{
        font-size: 1rem;
        padding: 1rem 0;
    }
    .contact-form button{
        width: 80%;
    }
    .mail,.phone,.ubi{
        font-size: .8rem;
    }
    .info-contacto{
        height: 450px;
        background-size: cover;
    }
    .info-contacto i{
        font-size: 1.2rem;
    }

    // HOME PAGE
    .grid-titulo{
        grid-template-columns: repeat(1,1fr);
    }
    .TituloHome h1{
        grid-column: 1/4;
        padding: 1rem 0;
        justify-self: center;
        margin: 0;
        align-self: end
    }
    .LineaDivisoraTitulo{
        grid-column: 1/4;
        align-self: start;
        justify-self: center;
        margin: 0;
        width: 95%;
    }
    .TituloHome h2{
        grid-column: 1/4;
        margin: 0;
        justify-self: center;
        text-align: center;
    }
    .TituloHome{
        height: 33rem;
    }
    .TituloHome .LogoEmpresaHome{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .LogoEmpresaHome img{
        height: 150px;
    }
    .Contenido-Uno-Home,.Contenido-Dos-Home,.Contenido-Tres-Home{
        margin: 2rem;
    }
    .Contenido-Uno-Home h2{
        font-size: 2rem;
    }
    .Contenido-Uno-Home .nombre-empresa{
        font-size: .5rem;
        margin-right: 1.2rem;
        padding: 0;
    }
    .Contenido-Uno-Home p{
        font-size: 1rem;
        margin: 1rem 2rem;
        padding: 0;
    }
    .Contenido-Dos-Home h3{
        padding: 0% 18%;
    }
    .Contenido-Tres-Home h3{
        padding: 0% 23%;
    }
    .ProyectosBox, .ClientesBox, .CampañasBox, .LeadsBox{
        height: 204px;
        width: 200px;
        justify-self: start;
    }
    .LeadsBox, .ClientesBox{
        justify-self: end;
    }
    .ProyectosBox p, .ClientesBox p, .CampañasBox p, .LeadsBox p{
        font-size: 1.5rem;
    }
    .ProyectosBox p i, .ClientesBox p i, .CampañasBox p i, .LeadsBox p i{
        font-size: 1.5rem;
    }
    .LogosClientes{
        column-gap: 3rem;
    }

    // SERVICE PAGE
    .redsocial-img, .consultoria-img, .rebranding-img, .seo-img{
        display: none;
    }
    .red-box, .consul-box, .rebran-box, .seo-box{
        width: 100%;
        height: 200px ;
        align-content: center;
    }
    .red-box, .rebran-box{
        border-right: 10px solid #00798B;
        border-left: none;
        h2{
            font-size: 1.8rem;
        }
        p{
            font-size: 1.3rem;
            padding: 0 4rem;
            text-align: justify;
        }
    }
    .consul-box,.seo-box{
        border-right: none;
        border-left: 10px solid map-get($colores, 'box-color2');
    }
    .menu_hamburguesa:checked ~ .ul_links{
        order: 1;
    }

    // NOSOTROS PAGE
    .Logo-Titulo{
        display: none;
    }
    .Titulo {
        h1{
            grid-column: 1/3;
            grid-row: 1/2;
            text-align: center;
        }
        p{
            grid-column: 1/3;
            grid-row: 2/3;
            justify-self: center; 
            margin: 0 3rem;
        }
    }
    .About-Teamwork{
        height: auto;
    }
    .Trabajadores-box p, .Ideas-box p{
        font-size: 1.7rem;
        & i{
            font-size: 3rem;
        }
    }
    .Trabajadores-box, .Ideas-box{
    width: 300px;
    height: 180px;
    }
    .mujer-1, .mujer-2, .mujer-3, .hombre-1, .hombre-2, .hombre-3{
        grid-template-rows: repeat(2,1fr);
    }
    .mujer1-img, .mujer2-img, .mujer3-img, .hombre1-img, .hombre2-img, .hombre3-img{
        grid-column: 1/3;
        height: auto;
    }
    .mujer1-box, .mujer2-box, .mujer3-box,.hombre1-box, .hombre2-box, .hombre3-box{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .mujer1-img img, .mujer2-img img, .mujer3-img img, .hombre1-img img, .hombre2-img img, .hombre3-img img{
        height: 360px;
    }
    // PORTFOLIO PAGE 
    #TituloParrafo{
        text-align: justify;
        padding: 0;
    }
    .portfolioText{
        font-size: 1rem;
    }
    .Portfolio-box{
        h2{
            font-size: 2rem;
        }
    }
    .background-work1, .background-work2{
        height: auto;
    }
}