$colores:(
    color-back: #f7f5f6,
    texto-back: #0a2424,
    Copy-back: #005049,
    text-color1: #ffffff,
    text-color2: #000000,
    text-color3: #1d907a,
    box-color1: #00798b,
    box-color2: #004c44,
);