$colores:(
    color-back: #f7f5f6,
    texto-back: #0a2424,
    Copy-back: #005049,
    texto-color1: #ffffff,
    texto-color2: #000000,
    texto-color3: #1d907a,
    box-color1: #00798b,
    box-color2: #004c44,
);

$fontsize:(
    lg: 3rem,
    md-lg: 2rem,
    md: 1.5rem,
    sm: 1rem, 
) ;
