footer {
    margin-top: 6rem;
    border-top: 2px solid black;
    background-color: map-get($colores, 'texto-color1');
    @include grid(unquote("repeat(3,1fr)"),unquote("repeat(3,1fr)"),none,none);
    max-width: 100%;
}

.logoFooter {
    @include pos-grid (unquote("1/2"),unquote("1/4"),center,center);

    img {
        width: 540px;
        height: 250px;
    }
}

.menu-footer {
    @include pos-grid (unquote("2/3"),unquote("1/4"),none,none);
    @include flex(none,nowrap,center,center,none);
    font-weight: bold;

    ul {
        padding: 0;

        li {
            list-style: none;
            text-align: center;
            padding: 5px;

            a {
                text-decoration: none;
                color: map-get($colores, 'texto-color3');
                font-size: 2.4rem;
                font-weight: bold;
            }
        }
    }
}

.redes-footer {
    @include pos-grid (unquote("3/4"),unquote("1/2"),center,none);
    align-content: center;

    h3 {
        font-size: map-get($fontsize, 'md-lg');
        font-weight: bold;
        text-align: center;
        color: map-get($colores, 'texto-color3');
        margin: 2rem 0;
    }

    a {
        color: map-get($colores, 'texto-color3');
    }

    i{
        font-size: map-get($fontsize, 'lg');
    }
}

.partner {
    @include pos-grid (unquote("3/4"),unquote("2/3"),center,end);

    img {
        margin-right: 14px;
    }
}

.copyright {
    @include pos-grid (unquote("1/4"),unquote("3/4"),center,end);
    background-color: map-get($colores, 'texto-back');
    width: 100%;

    p {
        color: map-get($colores, 'texto-color1');
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        margin: .5rem 0;
    }
}